.next/
build/
dist/

node_modules/
target/
coverage/
snapshot/
generated/
storybook-static/
.husky
pnpm-lock.yaml

apps/react/@types/auto-imports.d.ts
apps/react/src/routeTree.gen.ts
apps/react/src/assets
